.cache/
.local/
.npm/
.nvm/
.vscode-server/
node_modules/


.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.mysql_history
.wget-hsts

intra_front/.vscode/
intra_front/node_modules/

intra_back/node_modules/
intra_back/config.json

.dotnet

package-lock.json
package.json

